<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<style>

	body{
		background-color: #313131;
	}

	input{
		width: 100%;
		padding: 12px 20px;
		margin: 8px 0;
		box-sizing: border-box;
	}

	input::placeholder {
	  color: #d3d3d3;
	}

	.submit{
		background-color: #313131;
	}

	.center-column{
		width:600px;
		margin: 20px auto;
		padding:20px;
		background-color: #fff;
		border-radius: 3px;
		box-shadow: 6px 2px 30px 0px rgba(0,0,0,0.75);
	}

	.create_task{
		font-family: Georgia;
		font-size: 18px;
	}

	.item-row{
		background-color: #006753;
		margin: 10px;
		padding: 20px;
		border-radius: 3px;
		color: #fff;
		font-size: 20px;
		font-family: Georgia;
		box-shadow: 0px -1px 10px -4px rgba(0,0,0,0.75);
	}

	.btn-danger{
		background-color: red;
		border-color: #e59400;
	}

</style>
<div class="center-column">
	<div class="item-row">
<h3>Update Task</h3>

<form method="POST" action="">

	{% csrf_token %}
	{{form}}
	<input type="submit" class="btn btn-sm btn-info" name="Update Task"> 

	

</form>
</div>
</div>